.map {
  width: 100%;
  background-color: var(--black);
  background-image: url("../../../public/img/Background/content.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.map_center {
  width: 1630px;
  @media (max-width: 1629px) {
    width: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
  }
}
.desc_map {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 40px 0;
}
.map_map {
  width: 100%;
  border-radius: 32px;
  margin-top: 60px;
  filter: saturate(0.3);
  @media (max-width: 480px) {
    width: auto;
    height: 400px;
  }
}
.desc {
  font-weight: 800;
  font-size: clamp(0.625rem, 0.35rem + 1.375vw, 2rem);
  transition: 0.3s;
  background-color: var(--none);
  height: fit-content;
  &:hover {
    transition: 0.3s;
    color: var(--black);
    background-color: var(--white);
  }
}
.link_map {
  color: var(--black);
  background-color: var(--white);
  padding: 3px 5px 3px 5px;
}
.address {
  color: var(--white);
  font-size: clamp(0.625rem, 0.35rem + 1.375vw, 2rem);
  position: relative;
  float: right;
  font-weight: 800;
}
.heading {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2.5rem, 2rem + 2.5vw, 5rem);
  font-weight: 800;
  background-color: var(--white);
  color: var(--black);
  white-space: nowrap;
  line-height: 1;
}
