@use "../../styles/color.scss" as color;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: auto;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.address {
  font-size: clamp(0.75rem, 0.625rem + 0.625vw, 1.375rem);
  font-weight: normal;
  white-space: nowrap;
  padding: 3px 10px 3px 30px;
  color: black;
  background-color: white;
  @media screen and (max-width: 390px) {
    padding: 10px;
  }
}
.burger {
  background: none;
  padding: 30px 30px 0 0;
  border: none;
  font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease;
  mix-blend-mode: exclusion;
  @media screen and (max-width: 390px) {
    padding: 10px;
  }
}
.btn {
  width: 150px;
  height: 150px;
  background-color: #2d2d2d;
  border-radius: 16px;
  margin: 5px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 390px) {
    width: 50px;
    height: 50px;
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background-color: color.$black;
  color: color.$white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-300%);
  transition: transform 0.5s ease;
  z-index: 100;
  @media screen and (max-width: 390px) {
    height: 10vh;
  }
}

.menuOpen {
  transform: translateY(0);
  z-index: 100;
}

.menuContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100%;
}

.menuItem {
  font-size: clamp(1rem, -0.425rem + 7.125vw, 8.125rem);
  font-weight: 800;
  color: color.$white;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: color.$black;
  text-decoration: none;
  &:hover {
    transition: transform 0.3s ease;
    background-color: color.$white;
    color: color.$black;
  }

  &:focus {
    outline: none;
    color: color.$focus;
  }
}

.closeButton {
  font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
  font-weight: 800;
  color: color.$white;
  background-color: transparent;
  /* background-color: color.$black; */
  border: 3px solid color.$white;
  padding: 10px;
  width: 70px;
  height: 70px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    color: color.$black;
    background-color: color.$white;
  }
  @media screen and (max-width: 390px) {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
}

.svg_menu {
  width: 50px;
}

.svg {
  height: clamp(2rem, 1.775rem + 1.125vw, 3.125rem);

  > path {
    transition: transform 0.4s ease;
    transform-box: fill-box;
  }

  .slider__left__upper,
  .slider__right__upper,
  .slider__middle__upper {
    transform-origin: top;
    transform: scaleY(1);
  }

  .slider__left__center,
  .slider__right__center,
  .slider__middle__center {
    transform: translateY(0);
  }

  .slider__left__lower,
  .slider__right__lower,
  .slider__middle__lower {
    transform-origin: bottom;
    transform: scaleY(1);
  }

  &:hover {
    .slider__left__upper,
    .slider__right__upper {
      transform: scaleY(0.5);
    }

    .slider__left__center,
    .slider__right__center {
      transform: translateY(-50px);
    }

    .slider__left__lower,
    .slider__right__lower {
      transform: scaleY(2);
    }

    .slider__middle__upper {
      transform: scaleY(2);
    }

    .slider__middle__center {
      transform: translateY(50px);
    }

    .slider__middle__lower {
      transform: scaleY(0.5);
    }
  }

  &:active {
    .slider__left__upper,
    .slider__right__upper {
      transform: scaleY(0.5);
    }

    .slider__left__center,
    .slider__right__center {
      transform: translateY(-50px);
    }

    .slider__left__lower,
    .slider__right__lower {
      transform: scaleY(2);
    }

    .slider__middle__upper {
      transform: scaleY(2);
    }

    .slider__middle__center {
      transform: translateY(50px);
    }

    .slider__middle__lower {
      transform: scaleY(0.5);
    }
  }
}

/* @media screen and (max-width: 320px) {
}
@media screen and (max-width: 390px) {
  .address {
    font-size: 22px;
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 10px;
    padding: 0px 0px 0px 10px;
    backdrop-filter: blur(2px);
  }

  .address {
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    padding-top: 15px;
  }
  .svg {
    height: 25px;
  }
  .menuItem {
    /* padding: 10px 20px;
    font-size: 25px;
    font-weight: 600;

    color: color.$white;
    cursor: pointer;

    background-color: transparent;
    text-decoration: none;
    &:hover {
      color: color.$hover;
    }

    &:focus {
      outline: none;
      color: color.$focus;
    }
  }
  .burgerButton {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  .closeButton {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 30px;
    font-weight: 800;
    color: color.$white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transition: transform 0.3s ease;
      transform: scale(0.9);
    }

    &:focus {
      outline: none;
    }
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: color.$black;
    color: color.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-200%);
    transition: transform 0.5s ease;
    z-index: 30;
  }

  .menuOpen {
    transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 1280px) {
  .header {
    height: 55px;
    padding: 10px 20px 0px 20px;
  }

  .burgerButton {
    font-size: 20px;
    padding: 10px;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: color.$black;
    color: color.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-200%);
    transition: transform 0.5s ease;
    z-index: 30;
  }

  .menuOpen {
    transform: translateY(0);
  }

  .menuItem {
    font-size: 90px;
  }

  .closeButton {
    top: 10px;
    right: 20px;
    font-size: 30px;
  }

  .svg_menu {
    width: 30px;
  }

  .svg {
    height: 30px;
  }

  .address {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
} */
