@use "../../styles/color.scss" as color;
.hero {
  max-width: 1630px;
  background-color: color.$white;
  @media screen and (min-width: 321px) and (max-width: 768px) {
    width: 100%;
    padding: 10px 10px 0 10px;
  }
}

.title {
  /* font-size: 270px; */
  font-size: clamp(6rem, 3.825rem + 10.875vw, 16.875rem);
  font-weight: 800;
  text-wrap: nowrap;
  text-align: center;

  @media screen and (min-width: 321px) and (max-width: 768px) {
    line-height: 1;
    text-wrap: wrap;
  }
}
.house {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  width: 775px;
  line-height: 0.65;

  background-color: color.$black;
  color: color.$white;

  @media screen and (min-width: 321px) and (max-width: 390px) {
    width: 280px;
    line-height: 0.7;
  }
  @media screen and (min-width: 391px) and (max-width: 480px) {
    width: 320px;
    line-height: 0.7;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 420px;
    line-height: 0.7;
  }
}

.desc {
  font-weight: 800;
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  .mark {
    color: color.$white;
    background-color: color.$black;
  }
}

.photo {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  object-fit: fill;

  width: 100%;
  filter: grayscale(100%);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  &:hover {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    filter: grayscale(0);
  }
  @media screen and (min-width: 321px) and (max-width: 768px) {
    height: auto;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_content {
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: 3px solid color.$white;
  border-radius: 16px;
  padding: 10px;
  width: 60px;
  height: 60px;
  color: color.$white;
  font-size: 60px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    transform: scale(0.9);
  }
}
