@use "null.scss";
@use "color.scss";
@use "media.module.scss";
@import "overlayscrollbars/overlayscrollbars.css";

* {
  scroll-margin-top: 100px;
}

::selection {
  background: #000000;
  color: #ffffff;
}
::-webkit-scrollbar {
  display: none;
}
