@use "null.scss";
@use "color.scss";
@use "global.scss" as *;
@import "overlayscrollbars/overlayscrollbars.css";

* {
  scroll-margin-top: rem(100);
}

::selection {
  background: color.$black;
  color: color.$white;
}
::-webkit-scrollbar {
  display: none;
}
