@media screen and (max-width: 320px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}

/* 320-480 481-768 769-1024 1025-1200 1201  */
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1000px) {
}
@media screen and (min-width: 768px) {
}

/* 320-479
480-767
768-999
1000-1279
1280+

320-767/768-1279/1280+ */
/* Мобильные устройства в портретной ориентации */
@media (max-width: 480px) {
  /* Стили для маленьких телефонов */
}

/* Мобильные устройства в альбомной ориентации и планшеты в портретной */
@media (max-width: 768px) {
  /* Стили для больших телефонов и маленьких планшетов */
}

/* Планшеты и маленькие ноутбуки */
@media (max-width: 1024px) {
  /* Стили для планшетов */
}

/* Ноутбуки и маленькие десктопы */
@media (max-width: 1280px) {
  /* Стили для ноутбуков */
}

/* Большие мониторы и десктопы */
@media (max-width: 1920px) {
  /* Стили для больших экранов */
}

/* Мобильные устройства в портретной ориентации */
@media (max-width: 480px) {
  /* Стили для маленьких телефонов */
}

/* Мобильные устройства в альбомной ориентации и планшеты в портретной */
@media (max-width: 768px) {
  /* Стили для больших телефонов и маленьких планшетов */
}

/* Планшеты и маленькие ноутбуки */
@media (max-width: 1024px) {
  /* Стили для планшетов */
}

/* Ноутбуки и маленькие десктопы */
@media (max-width: 1280px) {
  /* Стили для ноутбуков */
}

/* Большие мониторы и десктопы */
@media (max-width: 1920px) {
  /* Стили для больших экранов */
}
/* dfghjhgfdfghjkjhgfdfghnmnbgfdfgbnbgfd */
@media screen and (max-width: 480px) {
}
/* 1920 1440 1024 768 390 */
/* @media (max-width: 1280px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 10px 10px 10px;
    max-width: 1200px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .title {
    font-size: 190px;
    font-weight: 800;
    text-align: center;
    white-space: nowrap;
  }
  .house {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    width: 550px;
    line-height: 0.65;

    background-color: color.$black;
    color: color.$white;
    white-space: nowrap;
  }

  .desc {
    font-weight: 800;
    font-size: 24px;
    mark {
      color: color.$white;
      background-color: color.$black;
    }
  }

  .photo {
    width: 100%;
    height: auto;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    object-fit: fill;
    filter: grayscale(100%);
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
    &:hover {
      -webkit-transition: all 0.7s ease-in;
      -moz-transition: all 0.7s ease-in;
      -o-transition: all 0.7s ease-in;
      transition: all 0.7s ease-in;
      filter: grayscale(0);
    }
  }
  .photos {
    filter: grayscale(100%);
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
    object-fit: cover;
    &:hover {
      -webkit-transition: all 0.7s ease-in;
      -moz-transition: all 0.7s ease-in;
      -o-transition: all 0.7s ease-in;
      transition: all 0.7s ease-in;
      filter: grayscale(0);
    }
  }
} */
