@use "../styles/color.scss" as color;

.main {
  width: 100%;
  background-image: url("../../public/img/Background/not-found.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: color.$white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 60px;
  padding: 0 0 0 60px;
}
.title {
  font-size: 310px;
  font-weight: 800;
  line-height: 0.9;
}
.desc {
  font-size: 46px;
  font-weight: 800;
}
@media screen and (max-width: 320px) {
  .main {
    width: 100%;
    gap: 15px;
    padding: 0 0 0 15px;
  }
  .title {
    font-size: 120px;
  }
  .desc {
    font-size: 22px;
  }
}

@media screen and (max-width: 390px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 0 0 20px;
  }
  .title {
    font-size: 150px;
  }
  .desc {
    font-size: 24px;
    font-weight: 800;
  }
}

@media screen and (max-width: 480px) {
  .main {
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .title {
    font-size: 170px;
  }
  .desc {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    gap: 40px;
    padding: 0 0 0 40px;
  }
  .title {
    font-size: 250px;
  }
  .desc {
    font-size: 32px;
    font-weight: 800;
  }
}
@media screen and (max-width: 1000) {
  .main {
    width: 100%;
    gap: 40px;
    padding: 0 0 0 40px;
  }
  .title {
    font-size: 250px;
  }
  .desc {
    font-size: 32px;
    font-weight: 800;
  }
}
@media screen and (max-width: 1280px) {
  .main {
    width: 100%;
    gap: 40px;
    padding: 0 0 0 40px;
  }
  .title {
    font-size: 250px;
  }
  .desc {
    font-size: 32px;
    font-weight: 800;
  }
}
@media screen and (min-width: 1440px) {
  .main {
    width: 100%;
    gap: 40px;
    padding: 0 0 0 40px;
  }
  .title {
    font-size: 250px;
  }
  .desc {
    font-size: 32px;
    font-weight: 800;
  }
}
