@use "../styles/color.scss" as color;

.main {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  flex: 1 0 auto;
  overflow-x: hidden;
  margin: 0 auto;
  /* max-width: 1630px; */
}

.hero {
  /*  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative; */
  max-width: 1630px;
}

.title {
  font-size: 270px;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
}
.house {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  width: 775px;
  line-height: 0.65;

  background-color: color.$black;
  color: color.$white;
  white-space: nowrap;
}

.desc {
  font-weight: 800;
  font-size: 32px;
  .mark {
    color: color.$white;
    background-color: color.$black;
  }
}
.desc_light {
  font-weight: 400;
  font-size: 30px;
}
.photo {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  object-fit: fill;
  filter: grayscale(100%);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  &:hover {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    filter: grayscale(0);
  }
}
.photos {
  filter: grayscale(100%);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  object-fit: cover;
  &:hover {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    filter: grayscale(0);
  }
}
.list {
  display: contents;
  padding: 0;
  text-align: right;

  li {
    padding-right: 20px;
  }
}
.title_services {
  grid-column: 5/6;
  grid-row: 1/2;
}
.synth {
  grid-column: 1/3;
  grid-row: 1/5;
}
.rec {
  grid-column: 1/3;
  grid-row: 6/13;
}
.equipment {
  grid-column: 1/3;
  grid-row: 14/17;
}

.song {
  grid-column: 4/6;
  grid-row: 3/5;
}
.mixing {
  grid-column: 4/6;
  grid-row: 7/9;
}
.vocals {
  grid-column: 4/6;
  grid-row: 10/13;
}
.micro {
  grid-column: 4/6;
  grid-row: 13/17;
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: color.$black;
  background-image: url("../../public/img/Background/zx2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.services_content {
  width: 1630px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  position: relative;
  grid-template-rows: repeat(17, auto);
  color: color.$white;
  margin-bottom: 40px;
}
.info {
  /*  background-color: color.$black;
  background-image: url("../../public/img/Background/zx2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: color.$white;
  position: relative;
  transition: filter 0.3s ease;
  width: 1630px; */

  background-color: color.$black;
  background-image: url("../../public/img/Background/zx2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: color.$white;
  position: relative;
  transition: filter 0.3s ease;
  width: 100%; /* Изменено на 100% для растяжения фона */
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1630px; /* Ширина содержимого */
  margin: 0 auto; /* Центрируем содержимое */
}
.heading {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 800;
  background-color: color.$white;
  color: color.$black;
  white-space: nowrap;
  line-height: 1;
}

.title_items {
  font-size: 60px;
  font-weight: 800;
}
.text {
  font-size: 32px;
}
.price {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 800;
  width: auto;
  height: auto;
  background-color: color.$white;
  color: color.$black;
  white-space: nowrap;
  margin-right: auto;
}
.block {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

// Modal стили
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_content {
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: 3px solid color.$white;
  border-radius: 16px;
  padding: 10px;
  width: 60px;
  height: 60px;
  color: color.$white;
  font-size: 60px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    transform: scale(0.9);
  }
}
.map {
  width: 100%;
  background-image: url("../../public/img/Background/zx2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: color.$black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.map_center {
  width: 1630px;
}
.desc_map {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.map_map {
  border-radius: 32px;
  margin-top: 60px;
}

.title_info {
  text-align: left;
}
.address {
  color: color.$white;
  font-size: 32px;
  position: relative;
  float: right;
  font-weight: 800;
}
.link_map {
  color: color.$black;
  background-color: color.$white;
}
@media screen and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .title {
    line-height: 1.1;
    font-size: 100px;
    font-weight: 800;
    white-space: wrap;
  }
  .house {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    line-height: 0.65;
    background-color: color.$black;
    color: #ffffff;
  }
  .hero {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 10px 10px 10px;
  }
  .desc {
    font-size: 16px;
  }
  .services {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(17, auto);
    background-color: color.$black;
    background-image: url("../../public/img/Background/zx2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: color.$white;
  }
  .photo {
    width: 100%;
    height: auto;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    object-fit: fill;
    filter: grayscale(100%);
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
    &:hover {
      -webkit-transition: all 0.7s ease-in;
      -moz-transition: all 0.7s ease-in;
      -o-transition: all 0.7s ease-in;
      transition: all 0.7s ease-in;
      filter: grayscale(0);
    }
  }
  .photos {
    filter: grayscale(100%);
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
    object-fit: cover;
    &:hover {
      -webkit-transition: all 0.7s ease-in;
      -moz-transition: all 0.7s ease-in;
      -o-transition: all 0.7s ease-in;
      transition: all 0.7s ease-in;
      filter: grayscale(0);
    }
  }
  .list {
    display: contents;
    padding: 0;
    text-align: right;

    li {
      padding-right: 20px;
    }
  }
  .title_services {
    grid-column: 5/6;
    grid-row: 1/2;
  }
  .synth {
    grid-column: 1/3;
    grid-row: 1/5;
  }
  .rec {
    grid-column: 1/3;
    grid-row: 6/13;
  }
  .equipment {
    grid-column: 1/3;
    grid-row: 14/17;
  }

  .song {
    grid-column: 4/6;
    grid-row: 3/5;
  }
  .mixing {
    grid-column: 4/6;
    grid-row: 7/9;
  }
  .vocals {
    grid-column: 4/6;
    grid-row: 10/13;
  }
  .micro {
    grid-column: 4/6;
    grid-row: 13/17;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    background-color: color.$black;
    background-image: url("../../public/img/Background/zx2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: color.$white;
    transition: filter 0.3s ease;
    padding: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .heading {
    text-wrap: wrap;
    display: flex;
    font-size: 30px;
    font-weight: 800;
    background-color: color.$white;
    color: color.$black;
  }

  .title_items {
    font-size: 30px;
  }
  .text {
    font-size: 18px;
  }
  .price {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    width: auto;
    height: auto;
    background-color: color.$white;
    color: color.$black;

    margin-right: auto;
  }
  .block {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
@media screen and (max-width: 390px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .title {
    line-height: 1.1;
    font-size: 100px;
    font-weight: 800;
    white-space: wrap;
  }
  .house {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    line-height: 0.65;
    background-color: color.$black;
    color: #ffffff;
  }
  .hero {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 10px 10px 10px;
  }
  .desc {
    font-size: 16px;
  }
  .services {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: color.$black;
    background-image: url("../../public/img/Background/zx2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: color.$white;
  }
  .services_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: color.$white;
    margin-bottom: 40px;
  }
  .photo {
    width: 100%;
    height: auto;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    object-fit: fill;
    filter: grayscale(100%);
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
    &:hover {
      -webkit-transition: all 0.7s ease-in;
      -moz-transition: all 0.7s ease-in;
      -o-transition: all 0.7s ease-in;
      transition: all 0.7s ease-in;
      filter: grayscale(0);
    }
  }
  .photos {
    display: none;
    filter: grayscale(100%);
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
    object-fit: cover;
    &:hover {
      -webkit-transition: all 0.7s ease-in;
      -moz-transition: all 0.7s ease-in;
      -o-transition: all 0.7s ease-in;
      transition: all 0.7s ease-in;
      filter: grayscale(0);
    }
  }
  .list {
    display: contents;
    padding: 0;
    text-align: right;

    li {
      padding-right: 20px;
    }
  }
  .title_services {
    grid-column: 5/6;
    grid-row: 1/2;
  }
  .synth {
    grid-column: 1/3;
    grid-row: 1/5;
  }
  .rec {
    grid-column: 1/3;
    grid-row: 6/13;
  }
  .equipment {
    grid-column: 1/3;
    grid-row: 14/17;
  }

  .song {
    grid-column: 4/6;
    grid-row: 3/5;
  }
  .mixing {
    grid-column: 4/6;
    grid-row: 7/9;
  }
  .vocals {
    grid-column: 4/6;
    grid-row: 10/13;
  }
  .micro {
    grid-column: 4/6;
    grid-row: 13/17;
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    background-color: color.$black;
    background-image: url("../../public/img/Background/zx2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: color.$white;
    transition: filter 0.3s ease;
    padding: 20px;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .heading {
    text-wrap: wrap;
    display: flex;
    font-size: 30px;
    font-weight: 800;
    background-color: color.$white;
    color: color.$black;
  }

  .title_items {
    font-size: 30px;
  }
  .text {
    font-size: 18px;
  }
  .price {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    width: auto;
    height: auto;
    background-color: color.$white;
    color: color.$black;

    margin-right: auto;
  }
  .block {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .desc_light {
    font-weight: 400;
    font-size: 16px;
  }
  .map {
    width: 100vw;
    background-image: url("../../public/img/Background/zx2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: color.$black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .map_center {
    width: 100%;
  }
  .map_map {
    width: 100vw;
  }
  .address {
    color: color.$white;
    font-size: 14px;
    position: relative;
    float: right;
    font-weight: 800;
  }
}
