@use "../styles/color.scss" as color;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  background-color: color.$white;
  @media screen and (min-width: 321px) and (max-width: 768px) {
    margin-top: 50px;
  }
}
.content {
  background-color: black;
  width: 100%;
}

@media screen and (min-width: 1440px) and (max-width: 1700px) {
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 391px) and (max-width: 480px) {
}

@media screen and (min-width: 321px) and (max-width: 390px) {
}

/* @media screen and (max-width: 320px) {
} */
