.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  background-color: var(--white);
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}
.content {
  background-color: var(--black);
  width: 100%;
}

@media (min-width: 1440px) and (max-width: 1700px) {
}

@media (min-width: 1025px) and (max-width: 1439px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 391px) and (max-width: 480px) {
}

@media (min-width: 321px) and (max-width: 390px) {
}
