.primary {
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
  border: 3px solid var(--black);
  cursor: pointer;
  font-weight: 500;
  border-radius: 32px;
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.3s;
  background-color: var(--black);
  color: var(--white);
  position: relative;
  float: right;
  margin: 20px 0 20px 0;
  z-index: 20;
  &:hover {
    transition: 0.3s;
    background-color: var(--white);
    color: var(--black);
  }
  @media (max-width: 768px) {
    border: 1px solid var(--black);
    padding: 5px 15px 5px 15px;
    margin: 10px 0 10px 0;
  }
}

.secondary {
  font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
  border: 2px solid var(--white);
  cursor: pointer;
  font-weight: 500;
  border-radius: 32px;
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.3s;
  background-color: var(--none);
  color: var(--white);
  &:hover {
    transition: 0.3s;
    background-color: var(--white);
    color: var(--black);
  }
  @media (max-width: 768px) {
    border: 2px solid var(--white);
    padding: 3px 7px 3px 7px;
  }
}
.third {
  font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
  border: 2px solid var(--white);
  cursor: pointer;
  font-weight: 500;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
  background-color: var(--black);
  color: var(--white);
  &:hover {
    transition: 0.3s;
    background-color: var(--white);
    color: var(--black);
  }
}

.backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 60px;
  padding: 10px;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 16px;
  background-color: var(--none);
  transition: background-color 0.3s, color 0.3s;
  width: 70px;
  height: 70px;
  &:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--white);
    color: var(--black);
  }
}
